.imageMealOrDrink {
  width: 18.75rem;
}

.iframe {
  width: 18.75rem;
}

.startRecipeBtnActive, .startRecipeBtnInactive {
  bottom: 0;
  position: fixed;
  right: 0;
}

.startRecipeBtnInactive {
  display: none;
}
