.mainRecipeDetails {
  margin-bottom: 10rem;
}

.imageMealOrDrink {
  width: 18.75rem;
}

.iframe {
  width: 18.75rem;
}

.startRecipeBtnActive, .startRecipeBtnInactive {
  bottom: 4.75rem;
  position: fixed;
  right: 0;
}

.startRecipeBtnInactive {
  display: none;
}
