.footer {
  align-items: center;
  background: var(--gray-900);
  bottom: 0;
  color: white;
  display: flex;
  height: 3.75rem;
  justify-content: space-between;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
}
