.header {
  align-items: center;
  background: var(--purple-900);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 3.75rem;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  height: 2.375rem;
}

.contentNoGoBack {
  height: 2.375rem;
  width: 2.375rem;
}

.btnHeader {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--gray-600);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.searchActive {
  background: transparent;
  border: none;
  color: var(--orange-100);
  padding-top: 0.312rem;
}
