.ingredientsContainer {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.ingredientsContent, .qtdIngredientsContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
}

.ingredientsContent {
  align-items: flex-start;
}

.qtdIngredientsContent {
  align-items: flex-end;
}

.qtdIngredientsContent li {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: center;
}

.ingredient {
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 1rem;
  justify-content: center;

}

.ingredientImgContainer, .ingredientImg {
  height: 2rem;
  width: 2rem;
}

.ingredientImgContainer {
  background-color: var(--gray-400);
  border-radius: 4px;
}

.ingredientCheckbox {
  appearance: none;
  appearance: none;
  border: 1px solid var(--gray-800);
  border-radius: 3px;
  height: 16px;
  outline: none;
  transition: background-color 0.3s;
  width: 16px;
}

.ingredientCheckbox:checked {
  background-color: var(--purple-900);
  border-color: var(--gray-800);
}

.ingredientCheckbox:before {
  background-color: var(--gray-400);
  border-radius: 2px;
  content: '';
  display: block;
  height: 0.625rem;
  margin: 0.125rem;
  transition: background-color 0.3s;
  width: 0.625rem;
}

.ingredientCheckbox:checked:before {
  background-color: var(--purple-900);
}
