.cardsContainer {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  overflow: auto;
}

.cardsContainer div:last-child {
  margin-right: 2rem;
}

.cardContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 12.5rem;
  height: 16.875rem;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.cardTitle {
  position: absolute;
  color: var(--white);
  bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

::-webkit-scrollbar {
  background-color: var(--gray-400);
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-300); /* Cor do polegar */
  border-radius: 4px; /* Raio do canto do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-300); /* Cor do polegar ao passar o mouse */
}
