.container {
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 10%;
  padding: 0;
  position: relative;
  text-align: center;
  width: 80%;
}

.tagsContainerMeal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.tagsContentMeal, .tagsContentDrinksCategory, .tagsContentDrinksAlcohol {
  border-radius: 4px;
  padding: 0.3rem;
}

.tagsContentMeal, .tagsContentDrinksCategory {
  background-color: lightsalmon;
}

.tagsContentDrinksAlcohol {
  background-color: lightgrey;
}

.itemImg {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}

.btnSeeMore {
  align-items: center;
  background-color: lightgreen;
  border: none;
  border-radius: 4px;
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  height: 2rem;
  justify-content: center;
  position: absolute;
  right: 30%;
  width: 40%;
}

.itemTitle {
  align-items: center;
  background-color: lightcoral;
  border: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 100%;
}

.navBtn {
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
